
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>@Html.ActionLink("Category Index", "CategoryIndex", "AdminPanel")</div>
<div>@Html.ActionLink("Project Index", "ProjectIndex", "AdminPanel")</div>
