<script src="~/scripts/finishregistration.js"></script>

@{
    ViewBag.Title = "FinishRegistration";
}

<h2>FinishRegistration</h2>

<div><h3>What are you?</h3></div>

@Html.RadioButton("rb", "False", new { id = "userRegistration", onchange= "show('#GetView', '/Account/DonatorRegistration')" })
<label>
    User
</label>
@Html.RadioButton("rb", "False", new { id = "organizationRegistration", onchange = "show('#GetView', '/Account/OrganizationRegistration')" })
<label>
    Organization
</label>
@Html.RadioButton("rb", "False", new { id = "companyRegistration", onchange = "show('#GetView', '/Account/CompanyRegistration')" })
<label>
    Company
</label>
<br />
<br />
<div id="GetView">
</div>