<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#userRegistration').change(function () {
            var url = '/Account/DonatorRegistration';
            $("#GetView").fadeOut('fast', function () {
                $("#GetView").load(url, function () {
                    $("#GetView").fadeIn('slow');
                });
            });
        });

        $('#organizationRegistration').change(function () {
            var url = '/Account/OrganizationRegistration';
            $("#GetView").fadeOut('fast', function () {
                $("#GetView").load(url, function () {
                    $("#GetView").fadeIn('slow');
                });
            });
        });

        $('#companyRegistration').change(function () {
            var url = '/Account/CompanyRegistration';
            $("#GetView").fadeOut('fast', function () {
                $("#GetView").load(url, function () {
                    $("#GetView").fadeIn('slow');
                });
            });
        });

    });
</script>


@{
    ViewBag.Title = "FinishRegistration";
}

<h2>FinishRegistration</h2>

<div><h3>What are you?</h3></div>
@Html.RadioButton("rb", "True", new { id = "userRegistration" })
<label>
    User
</label>
@Html.RadioButton("rb", "False", new { id = "organizationRegistration" })
<label>
    Organization
</label>
@Html.RadioButton("rb", "False", new { id = "companyRegistration" })
<label>
    Company
</label>
<br />
<br />
<div id="GetView">
</div>