
@{
    ViewBag.Title = "FinishRegistration";
}

<h2>FinishRegistration</h2>

<div><h2>What are you?</h2></div>

@Html.RadioButton("Prvi", "Organizacija")Organizacija
@Html.RadioButton("Prvi", "Pravno Lice")Pravno Lice