<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#rbLogin').change(function () {
            var url = '/Account/GetLoginView';
            $("#GetView").fadeOut('fast' ,function () {
                $("#GetView").load(url, function () {
                    $("#GetView").fadeIn('slow');
                });
            });
        });

        $('#rbRegistration').change(function () {
            var url = '/Account/GetRegistrationView';
            $("#GetView").fadeOut('fast', function () {
                $("#GetView").load(url, function () {
                    $("#GetView").fadeIn('slow');
                });
            });
        });

     });
</script>


@{
    ViewBag.Title = "FinishRegistration";
}

<h2>FinishRegistration</h2>

<div><h2>What are you?</h2></div>
@Html.RadioButton("rb", "True", new { id = "rbLogin" })
<label>
    Login
</label>
@Html.RadioButton("rb", "False", new { id = "rbRegistration" })
<label>
    Registration
</label>
<br />
<br />
<div id="GetView">
</div>