<div style="width:400px;border:1px double black">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
    <fieldset>
            <legend>Login</legend>
            <div class="editor-label">
                <label>UserName</label>
            </div>
            <div class="editor-field">
                <input type="text" name="UserName" />
            </div><div class="editor-label">
                <label>Password</label>
            </div>
            <div class="editor-field">
                <input type="password" name="Password" />
            </div>
            <p>
                <input type="submit" value="Login" />
            </p>
        </fieldset>
    }
</div>