@model IEnumerable<BigBoss.Models.ProjectModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    SLIDER 
</div>

<div class="row">
    @foreach(BigBoss.Models.ProjectModel p in Model.ToList()) {
        <a href="@Url.Action("ProjectEdit", "AdminPanel", new {id = p.Id})">
            <div class="col-md-4" style="font-size: 12px; height: 350px; background-color: darkolivegreen;">
                <div style="position: relative; background-color: #808080; height: 150px;"></div>
                <div class="bottom">@p.nameProject &emsp; Donations: @p.numberOfDonations <span class="pull-right">Raised: @p.moneyRaised</span></div>
            </div>
        </a>
    }
</div>